{% extends 'shared/layout.html' %}
{% load templatefilters %}
{% load staticfiles %}

{% block title %}Тестирование | Тест № {{ question.test.pk }}{% endblock title %}

{% block content %}
    {% for question in questions %}
        <form class="form-horizontal" action="{% url 'testing:answer_processing' %}">
            {% csrf_token %}
            <input type="hidden" name="session_pk" value="{{ session_pk }}">
            <input type="hidden" name="question_type" value="{{ question.type }}">
            <input type="hidden" name="question_pk" value="{{ question.pk }}">
            <div class="form-group">
                <div class="col-sm-7">
                    <p class="form-control-static">
                        {{ question.text }}
                    </p>
                </div>
            </div>
        {% for field in question.answer_form %}
            <div class="form-group">
            {% with field.field.widget|get_type as field_type %}
                {% if field_type == "CheckboxInput" %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="{{ field.value }}" name="{{ field.html_name }}">
                            {{ field.label }}
                        </label>
                    </div>
                {% elif field_type == "TextInput" %}
                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-5">
                        <input type="text"
                               class="form-control"
                               id="{{ field.id_for_label }}"
                               value="{{ field.value|default_if_none:'' }}"
                               name="{{ field.html_name }}">
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Для поля типа {{ field_type }} не определено действие.</p>
                {% endif %}
            {% endwith %}
            </div>
        {% endfor %}
            <div class="form-group">
                <input type="submit" value="Ответить" >
            </div>
        </form>
    {% endfor %}
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="{% static 'scripts/csrf.js' %}"></script>
<script type="text/javascript">
    $(window).load(function(){
        $('form.form-horizontal').each(function(index, item){
            $(item).submit(function(eventObject){
                var $form = $(eventObject.target);
                $.ajax({
                        url: $form.attr('action'),
                        type: 'post',
                        data: $form.serialize(),
                        success: function(data){
                            $form.find(':submit').remove();
                            $form.find('input').each(function(i,el){
                                $(el).attr('disabled','disabled');
                            });
                            $form.append('<p>'+ data['text'] +'<p>');
                        }
                    }
                );
                return false;
            });
        });
    });
</script>
{% endblock scripts %}