{% extends 'shared/layout.html' %}
{% load staticfiles %}
{% load templatefilters %}
{% load cache %}

{% block title %}Тестирование | Добавление теста{% endblock title %}

{% block content %}
    <form class="form-horizontal" action="{% url 'testing:test_create' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {% with field.field.widget|get_type as field_type %}
                    {% if field_type == "CheckboxInput" %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="{{ field.value }}" name="{{ field.html_name }}">
                                {{ field.label }}
                            </label>
                        </div>
                    {% elif field_type == "TextInput" %}
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   class="form-control"
                                   id="{{ field.id_for_label }}"
                                   value="{{ field.value|default_if_none:'' }}"
                                   name="{{ field.html_name }}">
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% elif field_type == "NumberInput" %}
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            <input type="text"
                                   class="form-control"
                                   id="{{ field.id_for_label }}"
                                   value="{{ field.value|default_if_none:'' }}"
                                   name="{{ field.html_name }}">
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% elif field_type == "Textarea" %}
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            <textarea class="form-control" rows="3"
                                      id="{{ field.id_for_label }}"
                                      value="{{ field.value|default_if_none:'' }}"
                                      name="{{ field.html_name }}">{{ field.value|default_if_none:'' }}</textarea>
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% elif field_type == "Select" %}
                        {{ field }}
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                        {% comment %}
                        <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                        <div class="col-sm-5">
                            <select class="form-control"
                                    id="{{ field.id_for_label }}"
                                    value="{{ field.value|default_if_none:'' }}"
                                    name="{{ field.html_name }}">
                                {% for id, name in field.choices %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endfor %}
                            </select>
                            {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% endcomment %}
                    {% else %}
                        <p>Для поля типа {{ field_type }} не определено действие.</p>
                    {% endif %}
                {% endwith %}
            </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
{% endblock content %}